html, body {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: vollkorn;
  src: url(Vollkorn-Bold.ttf);
}
canvas {
  display: block;

}
.gameTitle{
  width: 50%;
  height: 380px;
}
.User{
  width: 20%;
  height: 130px;
}
.Button1{
  width: 5%;
  height: 50px;
  background-color: #fea834;
  border: 3px solid white;
  color: #FFFF;

}
.Button2{
  width: 3%;
  height: 40px;
  background-color: cyan;
  border: 3px solid red;
  color: blue;

}
